.portrait-image {
    width: 75%;
}

.center-element {
  display:flex; /*<-- allows the magic*/
  margin:auto;
  /*align-items:center;*/ /*<-- the magic*/
  justify-content:center; /*<-- more magic*/
    padding-top: 2.5%;
    padding-bottom: 2.5%;    
}

.bio-padding {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.adjust-padding {
    padding-top: 10%;
}

.grayscale-img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
