.project-image{
    width: 75%;
}

.project-element-spacing {
    padding-top: 10%;
    padding-bottom: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

.center-element {
  display:flex; /*<-- allows the magic*/
  margin:auto;
  align-items:center; /*<-- the magic*/
  justify-content:center; /*<-- more magic*/
}

.flex-container{
    display:flex;
    flex-direction:column;
}

.text-block{
    padding-top: 10%;
    text-align: center;
}

a:link {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: underline;
}