.project-padding{
    padding: %10;
}

.project-image{
    width: 75%;
}

.header {
    text-align: center;
}

.test {
    border-style: solid;
    border-color: skyblue;
    padding-top: 10%;
    padding-bottom: 25%;
    padding-right: 15px;
    padding-left: 15px;
}

.test-alt {
   border-style: solid;
   border-color: orangered;
}

.center-element {
    display:flex; /*<-- allows the magic*/
  margin:auto;
  align-items:center; /*<-- the magic*/
  justify-content:center; /*<-- more magic*/
}

.flex-container{
    display:flex;
    flex-direction:column;
}

.flex-grow {
    flex: 1 0 auto;
}

.text-block{
    padding-top: 10%;
    text-align: center;
}

a:link {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: underline;
}