.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  color: white;
}

.App-link {
  color: #09d3ac;
}

.top{ 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}