.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  color: white;
}

.App-link {
  color: #09d3ac;
}

.top{ 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
} 

.top-padding{
    padding-top: 15%;
}

.white-text{
    color: ghostwhite;
}

.header {
    text-align: center;
}

.test {
    border-style: solid;
    border-color: skyblue;
}

.test-alt {
   border-style: solid;
   border-color: orangered;
}