.socials-container{ 
    
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 40px;
    float: left;
}

.socials-icons{ 
    
    height: 5%;
    width: 5%;
    max-height: 256px;
    max-width: 256px;
    min-height: 32px;
    min-width: 32px;
    margin-right: 3%;
    
}